In [15]:
import pandas as pd
from IPython.display import display

# Load dataset
df = pd.read_csv("mustahik_kelengkapan.csv")

# Aturan keputusan
def hasil_keputusan(row):
    if row['ktp'] == 1 and row['kk'] == 1 and row['sktm'] == 1 and row['pendapatan'] < 1500000:
        return "DITERIMA"
    else:
        return "DITOLAK"

# Tambah kolom keputusan
df['status_keputusan'] = df.apply(hasil_keputusan, axis=1)

# ==== TAMPILKAN TABEL ====
print("=== TABEL HASIL SELEKSI MUSTAHIK ===")
display(df[['id','ktp','kk','sktm','pendapatan','status','status_keputusan']])

# ==== TOTAL STATUS ====
total_diterima = (df['status_keputusan'] == "DITERIMA").sum()
total_ditolak  = (df['status_keputusan'] == "DITOLAK").sum()

print(f"\nTotal DITERIMA : {total_diterima}")
print(f"Total DITOLAK  : {total_ditolak}")

=== TABEL HASIL SELEKSI MUSTAHIK ===

    id  ktp  kk  sktm  pendapatan    status status_keputusan
0    1    1   1     1      800000  Diterima         DITERIMA
1    2    1   1     0     1200000  Diterima          DITOLAK
2    3    0   1     1      600000   Ditolak          DITOLAK
3    4    1   1     1     1500000  Diterima          DITOLAK
4    5    1   0     1      900000  Diterima          DITOLAK
5    6    1   1     1      700000  Diterima         DITERIMA
6    7    0   1     1     2000000   Ditolak          DITOLAK
7    8    1   1     0      500000   Ditolak          DITOLAK
8    9    1   1     1     1300000  Diterima         DITERIMA
9   10    1   1     1      850000  Diterima         DITERIMA
10  11    1   0     1     1100000  Diterima          DITOLAK
11  12    0   1     1      950000   Ditolak          DITOLAK
12  13    1   1     0      400000   Ditolak          DITOLAK
13  14    1   1     1     1800000  Diterima          DITOLAK
14  15    1   1     1     1000000  Diterima         DITERIMA
15  16    1   0     1      750000  Diterima          DITOLAK
16  17    1   1     1     1600000  Diterima          DITOLAK
17  18    0   1     1      550000   Ditolak          DITOLAK
18  19    1   1     0     1400000  Diterima          DITOLAK
19  20    1   1     1      900000  Diterima         DITERIMA

Total DITERIMA : 6
Total DITOLAK  : 14